<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Find us</h2>
                        <p><i class="fa fa-map-marker"></i>Address, Gant Belgium</p>
                        <p><i class="fa fa-phone"></i>06 05 04 03 02</p>
                        <p><i class="fa fa-envelope"></i>info@metaviria.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fa fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fa fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fa fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Menu</h2>
                        <a [routerLink]="['/a-propos']">About us</a>
                        <a [routerLink]="['/services']">Services</a>
                        <a [routerLink]="['/contact']">Contact us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Useful links</h2>
                        <a [routerLink]="['/terms']">Legal notices</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="First name">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Metaviria</a>, All rights reserved.</p>
        </div>
    </div>
</footer>