.about {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about .about-content {
    margin-bottom: 30px;
}

.about .about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

.about .about-content ul li {
    margin-bottom: 5px;
}

.about .about-content ul li i {
    margin-right: 8px;
    color: #E81C2E;
}

.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.team .team-img img {
    width: 100%;
    transition: .3s;
}

.team .team-item:hover img {
    transform: scale(1.1);
}

.team .team-text {
    position: relative;
    width: 100%;
    padding: 35px 30px 30px 30px;
    text-align: center;
    background: #202C45;
    border-radius: 0 0 5px 5px;
    transition: .5s;
}

.team .team-item:hover .team-text {
    background: #F28907;
}

.team .team-text h2 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.team .team-text p {
    margin: 0;
    color: #ffffff;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #202C45;
    border-radius: 40px;
    transition: .5s;
}

.team .team-item:hover .team-social a {
    background: #F28907;
}

.team .team-social a:hover {
    color: #202C45;
}

