<app-header></app-header>
<app-top-bar [title]="pageTitle"></app-top-bar>
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="../../../assets/img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p>Understand more</p>
                    <h2>Check how MetaViria can Assist your mission</h2>
                </div>
                <div class="about-content">
                    <p>
                        Metavira leverages viral proteomics, epidemiological science and data analytics to gain actionable insights into plant, human and animal health. <br>
                        MetaViria works with a Team of well-established Experts in Virology, Bioinformatics and Data Scientists with agencies and organizations seeking to better understand genomic properties of viruses, corroborate their biology, and help mitigate their potential risks. To learn more about our activities and services
                     </p>
                    <!--<ul>
                        <li><i class="far fa-check-circle"></i>In vitae turpis</li>
                        <li><i class="far fa-check-circle"></i>In vitae turpi</li>
                        <li><i class="far fa-check-circle"></i>In vitae turpi</li>
                        <li><i class="far fa-check-circle"></i>In vitae turpi</li>
                    </ul> -->
                    <a class="btn btn-custom" [routerLink]="['/contact']">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Leadership and Research Staff</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="../../../assets/img/rachid-tahzima.jpeg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dr. ir. Rachid TAHZIMA, PhD</h2>
                        <p>Principal Investigator, Founder</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="../../../assets/img/sebastien-massart.png" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Prof. Sébastien MASSART</h2>
                        <p>Professor, Co-Founder</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="../../../assets/img/team-me.jpeg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Thomas Olsen</h2>
                        <p>Engineer</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="../../../assets/img/team-me.jpeg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>James Alien</h2>
                        <p>Engineer</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
