@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
.carousel {
    position: relative;
    width: 100%;
    min-height: 200px;
    background: #ffffff;
    margin-bottom: 45px;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .slider {
    position: relative;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .slider .carousel-img {
    position: relative;
    width: 100%;
    height: 80%;
    min-height: 400px;
    text-align: right;
    overflow: hidden;
}

.carousel .slider .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel .slider .carousel-img img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.carousel .slider .carousel-text {
    position: absolute;
    max-width: 992px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .slider .carousel-text h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.carousel .slider .carousel-text h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
    text-transform: capitalize;
}

.carousel .slider .carousel-text p {
    max-width: 500px;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 40px;
}


.carousel .slider .btn.btn-custom {
    padding: 20px 45px 22px 45px;
    color: #ffffff;
}

.carousel .slider .btn.btn-custom:hover {
    color: #FFF;
}

.carousel .slider .owl-nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: calc(50% - 25px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.carousel .owl-theme .owl-nav .owl-prev,
.carousel .owl-theme .owl-nav .owl-next {
    width: 50px !important;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50px;
    background: rgba(256, 256, 256, .2);
    font-size: 22px;
    transition: .5s;
}

.carousel .owl-theme .owl-nav .owl-prev {
    margin-left: 30px;
}

.carousel .owl-theme .owl-nav .owl-next {
    margin-right: 30px;
}

.carousel .owl-theme .owl-nav .owl-prev:hover,
.carousel .owl-theme .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #E81C2E;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@media (max-width: 991.98px) {
    .carousel .slider .carousel-text h3 {
        margin-bottom: 5px;
    }
    
    .carousel .slider .carousel-text h1 {
        font-size: 60px;
    }
    
    .carousel .slider .carousel-text p {
        font-size: 16px;
    }
    
    .carousel .slider .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel .slider .carousel-text h3 {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
    
    .carousel .slider .carousel-text h1 {
        font-size: 45px;
    }
    
    .carousel .slider .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .slider .carousel-text h3 {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    .carousel .slider .carousel-text h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .carousel .slider .carousel-text p {
        margin-bottom: 25px;
    }
    
    .carousel .slider .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}

.section-header {
    text-align: left;
}
#devisAsk{
    position: absolute;
    right: 0;
    bottom: 0;
}
.partener{
    margin-top: 30px;
    text-align: center;
}
.partener h3{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.container-carousel{
    margin: auto;
    width: 80vw;
    height: 70px;
    background-color: gray;
}
.quality{
    width: 90vw;
    margin: 30px auto;
    display: flex;
}
.quality img{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
    margin: auto 0px;
    opacity: 1;
}
.block{
width: 400px;
height: 400px;
background-color: #0D6BA6;
}
.more{
    width: 50vw;
    margin-left: 100px;
    padding-top: 70px;
}
.more p {
    font-size: 1.3em;
    justify-content: center;
    margin-bottom: 100px;
}

.about {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about .about-content {
    margin-bottom: 30px;
}

.about .about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

.about .about-content ul li {
    margin-bottom: 5px;
}

.about .about-content ul li fa-icon {
    margin-right: 8px;
    color: #E81C2E;
}


.service {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.service .service-item fa-icon {
    text-align: center;
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}
.service .service-item h3{
    text-align: center;
}

.service .service-item fa-icon [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#E81C2E, #202C45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.service .service-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-item p {
    margin: 0;
}

// FACT 

.facts {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 45px 0;
    display: flex;
    align-items: center;
    background: #096987;
}

.facts .facts-item {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.facts .facts-item fa-icon {
    margin-top: 15px;
    font-size: 45px;
    color: #E81C2E;
}

.facts .facts-text {
    padding-left: 20px;
}

.facts .facts-text h3 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.facts .facts-text h3::after {
    position: absolute;
    content: "\f067";
    top: 0px;
    right: -25px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.facts .facts-text p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

/*****************/
/*****NEWS*******/
/***************/

.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.blog .blog-item {
    margin-bottom: 45px;
}

.blog .blog-img {
    position: relative;
    width: 100%;
}

.blog .blog-img img {
    width: 100%;
    border-radius: 5px;
}

.blog .meta-date {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 10%;
    left: calc(50% - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    background: #202C45;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
}

.blog .meta-date span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .meta-date strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.blog .blog-item:hover .meta-date {
    bottom: calc(50% - 35px);
    opacity: 1;
}

.blog .blog-text {
    padding: 25px 0 20px 0;
}

.blog .blog-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.blog .blog-text h3 a {
    color: #202C45;
}

.blog .blog-text h3 a:hover {
    color: #E81C2E;
}

.blog .blog-text p {
    margin: 0;
}

.blog .blog-meta {
    display: flex;
}

.blog .blog-meta p {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.blog .blog-meta p:first-child {
    padding-left: 0;
}

.blog .blog-meta p:last-child {
    padding-right: 0;
    border: none;
}

.blog .blog-meta i {
    color: #999999;
    margin-right: 5px;
}

.blog .blog-meta a {
    color: #999999;
}

.blog .blog-meta a:hover {
    color: #E81C2E;
}

.blog .pagination {
    margin-bottom: 15px;
}

.blog .pagination .page-link {
    color: #202C45;
    border-radius: 0;
    border-color: #202C45;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #E81C2E;
    background: #202C45;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}
