<app-header></app-header>
<app-top-bar [title]="pageTitle"></app-top-bar>
<div class="price">
    <div class="container">
        <div class="section-header text-center">
            <p>Virus Tracker</p>
            <h2>Choose Your Plan</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="price-item">
                    <div class="price-header">
                        <h3>Basic</h3>
                        <h2><span>€</span><strong>25</strong><span>.99</span></h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-times-circle"></i>Lorem, ipsum dolor.</li>
                            <li><i class="far fa-times-circle"></i>Lorem, ipsum.</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a class="btn btn-custom" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-item featured-item">
                    <div class="price-header">
                        <h3>Premium</h3>
                        <h2><span>€</span><strong>35</strong><span>.99</span></h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum dolor.</li>
                            <li><i class="far fa-times-circle"></i>Lorem, ipsum.</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a class="btn btn-custom" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-item">
                    <div class="price-header">
                        <h3>Pro</h3>
                        <h2><span>€</span><strong>49</strong><span>.99</span></h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum dolor.</li>
                            <li><i class="far fa-check-circle"></i>Lorem, ipsum.</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a class="btn btn-custom" href="">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

