.section-terms h2{
    margin: 30px 0 40px 0;
    font-size: 40px;
    font-weight: 600;
}
.section-terms h3{
    margin-top: 20px;
    font-size: 35px;
    font-weight: 550;
    margin-bottom: 25px;
}
.section-terms p{
    font-size: 17px;
    justify-content: center;
    margin-bottom: 20px;
    text-align: justify;
}
.section-terms a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}
.section-terms a:hover{
    color: #F28907;
}