.btn.btn-custom {
    padding: 10px 50px 12px 50px;
    text-align: center; 
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #E81C2E;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #096987;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
  }
  .top-bar {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    background: #ffffff;
  }
  
  .top-bar .logo {
    text-align: left;
    overflow: hidden;
  }
  
  .top-bar .logo h1 {
    margin: -4px 0 0 0;
    color: #096987;
    font-size: 30px;
    line-height: 50px;
    font-family: 'Playfair Display';
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  
  .top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .top-bar .top-bar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #096987;
    border-radius: 40px;
  }
  
  .top-bar .top-bar-icon i {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
  }
  
  .top-bar .top-bar-text {
    padding-left: 15px;
  }
  
  .top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .top-bar .top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
  
  @media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
  }
  
  
  /**********************************/
  /*********** Nav Bar CSS **********/
  /**********************************/
  .nav-bar {
    position: relative;
    background: rgba(9, 105,135, 0.5) 
  }
  
  .nav-bar.nav-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
  }
  
  .nav-bar .navbar {
    padding: 20px 0;
    // background: #096987 !important;
    background: rgba(9, 105,135, 0.0) !important;
    transition: .3s;
  }
  
  .nav-bar.nav-sticky .navbar {
    padding: 5px 0;
  }
  
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #F28907;
  }
  
  .nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
  }
  
  .nav-bar .btn.btn-custom {
    color: #096987;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #F28907;
  }
  
  .nav-bar .btn:hover {
    color: #ffffff;
    background: #F28907;
    box-shadow: inset 200px 0 0 0 #F28907;
  }
  
  @media (min-width: 992px) {
    .nav-bar .navbar-brand {
        display: none;
    }
  }
  
  @media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        padding: 5px 0;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
  }