<app-header></app-header>
<app-top-bar [title]="pageTitle"></app-top-bar>
<div class="viremode">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="viremode-img">
                    <img src="../../../assets/img/detail-virus.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p></p>
                    <h2>VirMODE - An Overview</h2>
                </div>
                <div class="viremode-content">
                    <p>
                        Viral proteins operate a wide variety of functions in host or vector cells through interactions with each other and many additional molecules. These interactions are traditionally understood from a sequence-based static description; however proteins are highly dynamic multi-conformational 3-D modules. They interact dynamically between different states (conformations) - VirMode aims at elucidating the relation between structure, conformational dynamics of on proteins and viral biology. By unravelling the underlying biophysical principles using robust statistics and bioinformatics, and relating them to biological features and processes, we try to better understand how viral proteins work, and generate new rationale that predict how there multifunctionalities - placing our research into a transdisciplinary structural bioinformatics or structural computational biology category.
                    </p>
                    <a class="btn btn-custom" href="">VirMODE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
